# macOS
.DS_Store

.claude/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo


# Misc
.env
*.log

gemini.txt
openai.txt
base_url.txt
base_url_kimi.txt
api_key_kimi.txt
